<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="contaner" style="display: flex;width: 60rem; margin-left: 220px;">
		<div class="ml-4" style="animation-delay: 1s;
							display: flex;
    						flex-direction: column;
    						width: calc(25%);
    						align-self: center;">
			<h5 style="color: #ff073a">Confirmed</h5>
			<h1 style="color: #ff073a">54,512 </h1>
		</div>
		<div class="" style="animation-delay: 1.1s;
							display: flex;
    						flex-direction: column;
   							width: calc(25%);
   							align-self: center;">
			<h5 style="color: #007bff" >Active</h5>
			<h1 style="color: #007bff" >37,019</h1>
		</div>
		<div class="" style="animation-delay: 1.2s;
							display: flex;
    						flex-direction: column;
    						width: calc(25%);
    						align-self: center;">
			<h5 style="color: #28a745" >Recovered</h5>
			<h1 style="color: #28a745">15,656 </h1>
		</div>
		<div class="" style="animation-delay: 1.3s;
							display: flex;
    						flex-direction: column;
    						width: calc(25%);
    						align-self: center;">
			<h5 style="color: #6c757d" >Deceased</h5>
			<h1 style="color: #6c757d" >1,833</h1>
		</div>
	</div>
	
		
	

</body>
</html>